<footer>
  <div class="footer-top">
    <ul class="footer-name-slogan">
      <li class="co-name">Health Connect</li>
      <li>Your child's direct line to care.</li>
    </ul>
  </div>
  <div class="footer-bot">
    <ul class="footer-nav">
      <li><a href="#">About Us</a></li>
      <li><a href="#">Get a Demo</a></li>
      <li><a href="#">Privacy and Security</a></li>
      <li><a href="#">Terms of Use</a></li>
      <li><br></li>
      <li><br></li>
      <li><br></li>
      <li><br></li>
      <li><br></li>
      <li><br></li>
      <li><br></li>
      <li><i class="fa fa-heartbeat fa-2x heart-icon"></i></li>
    </ul>
  </div>
</footer>
</body>
</html>
