<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Health Connect</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/sweetalert.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.auth0.com/js/lock/10.11/lock.min.js" charset="utf-8"></script>
    <script src="/javascripts/script.js" charset="utf-8"></script>
</head>

<body>
    <header>
        <div id="header_container">
            <div id="header">
                <div id="main-header" class="row">
                    <div class="col-md-6 left">
                        <img src="/images/hc_logoheader.png" alt="" class="hc-logo">
                        <div class="slogan">Your child's direct line to care</div>
                    </div>
                    <div class="col-md-4 right"><a href="/login" class="btn-signup">Sign Up</a>
                        <a href="/login" class="btn-login">Log In</a></div>
                </div>
            </div>

    </header>
