<% include partials/header %>

<section>
  <h1 class="newStudenth1">New Student</h1>
  <form class="student_form" name="newStudent_form" method="POST">
    <ul class="add-student">
    <li><input class="add-student-field" type="text" name="image" placeholder="Image URL"></li>
    <li><input class="add-student-field" type="text" name="name" placeholder="Name" autofocus></li>
    <li><input class="add-student-field"  type="text" name="dob" placeholder="DOB"></li>
    <li><input class="add-student-field"  type="text" name="history" placeholder="History"></li>
    <li><input class="add-student-field"  type="text" name="allergies" placeholder="Allergies"></li>
    <li><input class="add-student-field"  type="text" name="medications" placeholder="Medications"></li>
    <li><input class="add-student-field"  type="text" name="immunizations" placeholder="Immunizations"></li>
    <li><input class="add-student-field"  type="text" name="guardian_name" placeholder="Guardian Name"></li>
    <li><input class="add-student-field"  type="text" name="guardian_number" placeholder="Guardian Number"></li>
    <li><input class="add-student-field"  type="text" name="guardian_email" placeholder="Guardian Email"></li>
    <li><input class="submit-student" type="submit" name="submit"><br>
    <a href="/nurses">Go Back</a>
    </ul>
  </form>
</section>



<% include partials/footer %>
