<% include partials/header %>

<section>
  <h1 class="newStudenth1">New Student</h1>
  <form class="student_form" name="newStudent_form" method="POST">
    <ul class="add-student">
    <li><input class="add-student-field" type="text" name="image" placeholder="Image URL"></li>
    <li><input class="add-student-field" type="text" name="name" placeholder="Name" autofocus></li>
    <li><input class="add-student-field"  type="text" name="dob" placeholder="DOB"></li>
    <li><input class="add-student-field"  type="text" name="history" placeholder="History"></li>
    <li><input class="add-student-field"  type="text" name="Allergies" placeholder="Allergies"></li>
    <li><input class="add-student-field"  type="text" name="Medications" placeholder="Medications"></li>
    <li><input class="add-student-field"  type="text" name="Immunizations" placeholder="immunizations"></li>
    <li><input class="add-student-field"  type="text" name="Guardian Name" placeholder="guardian_name"></li>
    <li><input class="add-student-field"  type="text" name="Guardian Phone Number" placeholder="guardian_number"></li>
    <li><input class="add-student-field"  type="text" name="Guardian Email" placeholder="guardian_email"></li>
    <li><input class="submit-student" type="submit" name="submit"><br>
    <a href="/nurses">Go Back</a>
    </ul>
  </form>
</section>



<% include partials/footer %>
