<% include partials/header %>

<section>
  <h1 class="newStudenth1">New Student</h1>
  <form class="student_form" name="newStudent_form" method="POST">
    <input  type="text" name="image" placeholder="Image URL"><br>
    <input  type="text" name="name" placeholder="Name" autofocus><br>
    <input  type="text" name="dob" placeholder="DOB"><br>
    <input  type="text" name="history" placeholder="history"><br>
    <input  type="text" name="allergies" placeholder="Allergies"><br>
    <input  type="text" name="medications" placeholder="Medications"><br>
    <input  type="text" name="immunizations" placeholder="immunizations"><br>
    <input  type="text" name="guardian_name" placeholder="guardian_name"><br>
    <input  type="text" name="guardian_number" placeholder="guardian_number"><br>
    <input  type="text" name="guardian_email" placeholder="guardian_email"><br>
    <input class="submit-student" type="submit" name="submit"><br>
    <a href="/nurses">Go Back</a>
  </form>
</section>



<% include partials/footer %>
