<% include partials/header %>

    <section>




        <div class="container">
            <div class="modal fade" id="modal-report">
                <div class="vertical-alignment-helper">
                    <div class="modal-dialog modal-lg vertical-align-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a href="" class="btn btn-default" data-dismiss="modal" style="border: none;">Back</a>
                                <button type="button" class="close" data-dismiss="modal">CANCEL</button>
                            </div>
                            <div class="modal-body row">
                                <div class="col-md-1"></div>
                                <div class="col-md-2 modal-desc">
                                    <span class="modal-text">Report</span>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-8">
                                    <div style="padding: 10px; font-size: 25px">Report# BHAKL-8794FAKE</div>
                                    <div style="padding: 10px; font-size: 20px">Sanderson, Issac</div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="" class="btn btn-primary btn-report-next">Next</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="modal fade" id="modal-report2">
                <div class="vertical-alignment-helper">
                    <div class="modal-dialog modal-lg vertical-align-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a href="" class="btn btn-default" data-dismiss="modal" style="border: none;">Back</a>
                                <button type="button" class="close" data-dismiss="modal">CANCEL</button>
                            </div>
                            <div class="modal-body row">
                                <div class="col-md-1"></div>
                                <div class="col-md-2 modal-desc">
                                    <span class="modal-text">Vitals</span>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-8">
                                    <div style="padding: 10px; font-size: 25px">Sanderson, Issac</div>
                                    <div style="padding: 10px; font-size: 16px">Report# BHAKL-8794FAKE</div>
                                    <textarea autofocus name="vitals" rows="8" cols="50" placeholder="Please enter vitals here" id="vitals-textarea"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="" class="btn btn-primary btn-vitals-next">Next</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="modal fade" id="modal-report3">
                <div class="vertical-alignment-helper">
                    <div class="modal-dialog modal-lg vertical-align-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a href="" class="btn btn-default" data-dismiss="modal" style="border: none;">Back</a>
                                <button type="button" class="close" data-dismiss="modal">CANCEL</button>
                            </div>
                            <div class="modal-body row">
                                <div class="col-md-1"></div>
                                <div class="col-md-2 modal-desc">
                                    <span class="modal-text">Symptoms</span>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-8">
                                    <div style="padding: 10px; font-size: 25px">Sanderson, Issac</div>
                                    <div style="padding: 10px; font-size: 16px">Report# BHAKL-8794FAKE</div>
                                    <textarea autofocus name="symptoms" rows="8" cols="50" placeholder="Please enter symptoms here" id="symptoms-textarea"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="" class="btn btn-primary btn-symptoms-next">Next</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </section>


    <% include partials/footer %>
