<% include partials/header %>


<section><h1>ERROR - something is wrong. Please figure it out yourself.</h1></section>
</html>

<% include partials/footer %>

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
