<% include partials/header %>


    <section>
        <div class="opac">
            <h1>ERROR - DOES NOT COMPUTE.</h1>
            <h1><%= message %></h1>
            <h2><%= error.status %></h2>
            <pre><%= error.stack %></pre>
        </div>
    </section>


    </html>


    <% include partials/footer %>
