<% include partials/header %>


<section><h1>ERROR - something is wrong. Please figure it out yourself.</h1></section>
</html>
<<<<<<< HEAD
=======

<% include partials/footer %>

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
>>>>>>> ea1a7b6292bf6ba4149cc0f82ee85e3af63a386f
