<% include partials/header %>
    <section>
        <div class="opac">
            <div class="nav col-md-5">
                <nav>
                    <ul class="guardian-nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Student Profile</a></li>
                        <li><a href="#">Add New Student</a></li>
                    </ul>
                </nav>
            </div>
            <div class="content-container col-md-5">
                <form id="search">
                    <input type="search" id="search-keyword">
                    <input type="submit" value="Search">
                </form>
                <ul id="funny">
                    <p>My Students</p>
                    <li><a href="#">MY SON BLANKA</a></li>
                    <li><a href="#">MY DAUGHTER CHUN LI</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <% include partials/footer %>
