

<% include partials/header %>

<section>
  <div class="opac">
    <p>Welcome to Health Connect, an innovative tool for keeping
kids in the classroom and out of the doctor’s office.</p><br><button type="button" name="button">Sign Up</button>
  </div>
</section>

<% include partials/footer %>
