<% include partials/header %>

    <section>
        <div class="opac">
            <div class="welcome-container">
                <p class="welcome-text">Welcome to Health Connect, an innovative tool for keeping kids in the classroom and out of the doctor’s office.</p><br><a href="/login" class="btn-signup">Get Started</a>
            </div>
        </div>
    </section>

    <% include partials/footer %>
