<% include partials/header %>

<div class="landing-container">
    <section id="landing">
        <div class="opac">
            <div class="welcome-container">
                <p class="welcome-text">Welcome to Health Connect, an innovative tool for keeping kids in the classroom and out of the doctor’s office.</p><br><a href="/login" class="btn-signup">Get Started</a>
            </div>
        </div>
    </section>
    <div class="text-box-one">Health Connect is here to help you get your child quick and reliable care.</div>
    <div class="quotes">
      <div class="container">
        <div class="row snippet-titles">
          <div class="col-md-2"></div>
          <div class="col-md-3 title">EASY ACCESS</div>
          <div class="col-md-1"></div>
          <div class="col-md-3 title">BIG NETWORK</div>
          <div class="col-md-3"></div>
        </div>
        <div class="row snippets">
          <div class="col-md-2"></div>
          <div class="col-md-4 snippet">Connect to health information for you and your child 24 hours a day, 7 days a week. We're committed to delivering the best care possible, and part of that commitment is to make it easy for you to access your health information online.</div>
          <div class="col-md-4 snippet">We have a vast network in all 50 states, ensuring your school can connect with local physicians who understand your needs.</div>
          <div class="col-md-2"></div>
        </div>
        <div class="row snippet-titles">
          <div class="col-md-2"></div>
          <div class="col-md-3 title">FEEL SUPPORTED</div>
          <div class="col-md-1"></div>
          <div class="col-md-3 title">GET KIDS COVERED</div>
          <div class="col-md-3"></div>
        </div>
        <div class="row snippets">
          <div class="col-md-2"></div>
          <div class="col-md-4 snippet">With our Teleconferencing Services, nurses will be able to access best in class physician referrals and advice.</div>
          <div class="col-md-4 snippet">Provide coverage for all your students. We can help you access low cost or free service depending on parent and guardian needs.</div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
    <div class="text-box-two">The connection that enables nurses and schools to get your child feeling better. Fast.</div>
</div>

<% include partials/footer %>
