<% include partials/header %>
<section>
<div class="opac">
<div class="nav col-md-5">
  <nav>
    <a href="#">Home</a>
    <a href="#">Student Profile</a>
    <a href="#">Create New Report</a>
    <a href="#">Home</a>
  </nav>
</div>
<div class="content-container col-md-5">
  <form id="search">
    <input type="search" id="search-keyword">
    <input type="submit" value="Search">
  </form>
  <ul id="funny">
    <p>Students</p>
    <% for (var i=0, x=students.length; i<x; i++) { %>
      <li><a href="/studentProfile/<%= students[i]._id%>"><p><%= students[i].name %></p></a></li>
    <% } %>
  </ul>
</div>
</div>
</section>

<% include partials/footer %>
