<% include partials/header %>
<section>
<div class="opac">
<div class="nav col-md-5">
  <nav>
    <a href="#">Home</a>
    <a href="#">Student Profile</a>
    <a href="#">Create New Report</a>
    <a href="#">Home</a>
  </nav>
</div>
<div class="content-container col-md-5">
  <form id="search">
    <input type="search" id="search-keyword">
    <input type="submit" value="Search">
  </form>
  <ol>
    <p>Students</p>
    <li><a href="">Little Billy</a></li>
  </ol>
</div>
</div>
</section>

<% include partials/footer %>
