<% include partials/header %>
<section>
<div class="opac">
  <div class="container">
    <div class="row">
      <div class="nav col-md-4">
        <nav>
          <ul class="nav nav-pills nav-stacked left-menu" id="stacked-menu">
            <div class="guardNav"><a href="#"><div class="navHover">Home</div></a></div>
            <a href="#" data-target="#item1" data-toggle="collapse" data-parent="#stacked-menu" class="guardNav" id="guardDrop"><div class="navHover">Student Profile<span class="caret arrow"></span></div></a>
              <ul class="nav nav-stacked collapse left-submenu" id="item1">
                <li class="subNav"><a href="#"/><div class="navHover">One</div></a></li>
                <li class="subNav"><a href="#"/><div class="navHover">Two</div></a></li>
                <li class="subNav"><a href="#"/><div class="navHover">Three</div></a></li>
              </ul>
            <div class="nurseNav"><a href="#"><div class="navHover">Create New Report</div></a></div>
            <div class="nurseNav nurseNavBottom"><a href="#"><div class="navHover">Additional Option</div></a></div>
          </ul>
        </nav>
      </div>
      <div class="col-md-8">
      <div class="searchBar">
        <form id="search">
          <input type="search" id="search-keyword">
          <a href="#" class="btn-search">Search</a>
        </form>
      </div>
        <br></br>
          <div class="box">
            <ul class="funny">
              <p class="studentList">Students</p>
              <div class="borderLine"></div>
              <% for (var i=0, x=students.length; i<x; i++) { %>
                <a href="/studentProfile/<%= students[i]._id%>" class="coolKids"><p><%= students[i].name %></p></a>
              <% } %>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<% include partials/footer %>
