<% include partials/header %>


    <section>
        <a href="/guardian">Guardian</a>
        <a href="/nurse">Nurse</a>
        <a href="#">Doctor</a>
    </section>
    </body>

    </html>

<% include partials/footer %>
