<% include partials/header %>


    <section>
      <div class="opac">
        <div class="btn-users">
            <div><a href="#"><img src="http://bytownbeerpong.com/wp-content/uploads/2017/01/mother-daughter.png" alt="" class="userpic"><br><a href="/guardian"><span style="font-size: 26px">Guardian</span></a></div>
            <div><a href="/nurses"><img src="https://duke-jjnurseleadership.duhs.duke.edu/images/uploads/homepage/slide1.png" alt="" class="userpic"><br><a href="/nurses"><span style="font-size: 26px">Nurse</span></a></div>
            <div><a href="/doctor"><img src="http://pngimg.com/uploads/doctor/doctor_PNG16018.png" alt="" class="userpic"><br><a href="/doctor"><span style="font-size: 26px">Doctor</span></a></div>
        </div>
        </div>
    </section>
    </body>

    </html>

    <% include partials/footer %>
