<% include partials/header %>


    <section class="btn-users">
        <div><a href="/guardian"><img src="/images/guardian.png" alt=""><br><a href="/guardian">Guardian</a></div>
        <div><a href="/nurse"><img src="/images/nurse.png" alt=""><br><a href="/nurse">Nurse</a></div>
        <div><a href="/doctor"><img src="/images/doctor.png" alt=""><br><a href="/doctor">Doctor</a></div>
    </section>
    </body>

    </html>

<% include partials/footer %>
