<% include partials/header %>


    <section>
        <a href="/guardian">Guardian</a><a href="/guardian"><img src="/" alt="">
        <a href="/nurse">Nurse</a>
        <a href="/doctor">Doctor</a>
    </section>
    </body>

    </html>

<% include partials/footer %>
