html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Arial Rounded MT Bold', sans-serif;
}

#main-header {
  padding: 0;
  border-bottom: 2px #F88E79 solid;
}

.col-md-4, .col-md-6 {
  color: #757575;
  padding: 30px;
  text-align: right;
  padding-bottom: 15px;
}

.right {
  margin-top: 73px;
  padding-right: 5px;
  margin-right: 88px;
}

.left {
  text-align: left;
  padding-left: 5px;
  margin-left: 88px;
}

section {
  height: 700px;
  background-image: url(../images/kiwi.svg);
  background-size: cover;
}

.kiwi {
  background-size: cover;
}

.opac {
  height: 350px;
  margin: 0 93px 0 93px;
  background-color: #ffffff;
  opacity: 0.7;
  border-radius: 0 0 10px 10px;
  text-align: center;
  padding-top: 50px;
}

footer {
  height: 75px;
  background-color: #B1748F;
}

.back-pic {
  background: cover;
}

.btn-users {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

div img {
  margin: 10px;
}

a {
  color: #00B7FF;
}

h4 {
  font-size: 145%;
  display: inline;
  font-weight: bold;
  color: #8AD9BB
}

.modal-desc {
  font-size: 20px;
  text-align: left;
  padding: 10px 0;
  border-top: 2px solid #8AD9BB;
  border-bottom: 2px solid #8AD9BB;
}

.modal-footer, .modal-header {
  border-top: none;
  border-bottom: none;
}

.modal-text {
  padding-left: 10px;
}

.modal-body {
  min-height: 300px;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}

.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width: inherit;
  height: inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
}

.modal-header {
  margin-bottom: 100px;
}

.btn-primary {
  background-color: #8AD9BB;
  border-color: #8AD9BB;
}

.report-info {
  text-align: left;
}

.modal-dialog {
  width: 1000px;
}

.studentInfo {
  font-size: 16px;
  text-decoration: none;
}

.modal-content {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.studentNav, .nurseNav{
  display: block;
  text-align: left;
  font-size: 26px;
  border-bottom: solid 2px #8AD9BB;
  color: black;
  padding-bottom: 4px;
}

.studentNav, a:hover{
  color: #757575;
  text-decoration: none;
}
